language: python
python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
sudo: false

cache:
  directories:
    - $HOME/.cache/pip

addons:
  apt:
    packages:
      - ldap-utils
      - slapd

install:
  - pip install "pip>=7.1.0"
  - pip install tox-travis tox

script: tox
